<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	
	<key>CFBundleExecutable</key>
	<string></string>
	
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.letmewatchthis</string>
	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	
	<key>CFBundleSignature</key>
	<string>hook</string>
	
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	<key>PlexClientPlatforms</key>
	<string>MacOSX,Windows,iOS</string>
	
	<key>PlexMediaContainer</key>
	<array>
		<string>Flash</string>
	</array>
	
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
	
	<key>PlexPluginConsoleLogging</key>
	<string>0</string>

	<key>PlexMediaContainer</key>
	<array>
		<string>MP4</string>
		<string>FLV</string>
	</array>
	
	<key>PlexAudioCodec</key>
	<array>
		<string>AAC</string>
		<string>MP3</string>
	</array>
	
	<key>PlexVideoCodec</key>
	<array>
		<string>H.264</string>
		<string>H.263</string>
	</array>
	
	<key>PlexURLServices</key>
	<dict>
		<key>LMWT</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.letmewatchthis.lmwt</string>
			
			<key>URLPattern</key>
			<string>http://www.1channel.ch/external.php\?title=</string>		
		</dict>
		
		<key>MovPod</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.letmewatchthis.movpod</string>
			
			<key>URLPattern</key>
			<string>http://(www\.)?(movpod|daclips)\.(com|in|net)/[\d\w]{5,}</string>		
		</dict>
		
		<key>PutLocker</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.letmewatchthis.putlocker</string>
			
			<key>URLPattern</key>
			<string>http://(www\.)?(putlocker|sockshare)\.com/file/[\d\w]{5,}</string>		
		</dict>
		
		<key>Zalaa</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.letmewatchthis.zalaa</string>
			
			<key>URLPattern</key>
			<string>http://(www\.)?zalaa\.com/[\d\w]{5,}</string>		
		</dict>
		
		<key>VidBux</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.letmewatchthis.vidbux</string>
			
			<key>URLPattern</key>
			<string>http://(www\.)?(vidbux|vidxden)\.com/[\d\w]{5,}</string>		
		</dict>
	</dict>
	
</dict>
</plist>
